
/*767-1024*/
@media screen  and (max-width:768px)   {
#slider {
    width: 229%;
    height: 1200px;
    position: relative;
    top: -307px;
    margin: 6px 0px -273px 11px;
    background-image: url("	https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299d1b0108cf394df61d5a_sheep.jpeg");
}
.about
{
    display: grid;
    grid-template-columns: 11fr 1fr;
 
}
.card,.content-g2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.data {
    display: flex;
    height: 155px;
    margin: 19px auto;
    justify-content: center;
    width: 100%;
    align-items: center;
}.figures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 231%; 
    margin: 17px 0px 0px 15px;
}.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
}
.figure h2  
{
     font-family: "Segoe UI",Arial,sans-serif;
  
    margin: 10px 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: -3px;

}
.services {
    display: flex;
    grid-template-columns: 1fr fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
    grid-template-columns: 1fr fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    background: blue;
    width: 227%;
    margin: 10px 0px 0px 24px;
}
.gi-4
{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 681px;

}
.content-g2
{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 645px;

}
.bradings
{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bradings img
 {
    width: 170px;
    height: 190px;
}
.quotes {
     display: flex;
    flex-direction: column;
    background: beige;
    width: 228%;
    margin: 20px 10px 20px 21px;
    justify-content: center;
    align-items: center;
}.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 34px;
    margin: 0px 0px 18px 10px;
}
.pf-card img {
    width: 415px;
    height: 390px;
}
.form-n-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form
{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#email-form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact
{
    display: flex;
    width: 230%;
    background: aqua;
    flex-direction: column;

}
.footer-div
{
     width: 226%;
    background: #333;
    margin: 16px 0px 0px 26px;

}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo a img 
{
     width: 94px;
    height: 81px;
    position: relative;
    right: 156px;

}

.footer-text    
{
  color: white;
}
.content-g2 h2
{
     font-family: 'MONTSERRAT';
    color: #333333;
    font-weight: 700;
    font-size: 79px;
    line-height: 72px;
    letter-spacing: -4px;
    text-align: center;

}

.content-g2 h5
{
      font-family: 'Vollkorn', serif;
     font-style: italic;
    font-size: 35px;
    letter-spacing: -1px;

}
.content-g2 p
{
  font-family: 'Source Sans Pro', sans-serif;
     max-width: 720px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;

}

 .button {
    width: 302.5px;
    height: 108px;
    padding: 25px;
    color: black;
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    background-color: transparent;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    letter-spacing: -1px;
    text-decoration: none;

}
.figure h2
{
     font-weight: 700;
    font-family: Montserrat, sans-serif;
    letter-spacing: -1px;
    font-size: 65px;

}

.figure h5
 {    font-family: Vollkorn, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 2px;
}
.things
{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 681px;
    margin-left: 75px;
}
.gi-1
{width: 1658px;
    height: 760px;
}
}


/*1024-2560*/
@media screen and (min-width: 1024px) {
  /*workin on responsivness*/
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    padding: 14px;
}
  span {
    display: flex;
    position: absolute;
    top: 21px;
  }#logo {
    margin-top: 14px;
    width: 60px;
    margin-left: 117px;
  }

  nav > a {
    color: aliceblue;
    margin-left: 46px;
    text-decoration-line: blink;
  }nav {
    background: transparent;
    padding-top: 33px;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-left: 54px;
  }
  .fa.fa-bars {
    display: none;
  }
 
  h6 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    color: #7d7d7d;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }
  p {
    margin-bottom: 5px;
    font-family: "Source Sans Pro", sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.5px;
  }
  
   
  .text-field {
    width: 760px;
    height: 40px;
  }
  textarea {
    width: 760px;
    height: 52.3px;
  }
  h5 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: "Vollkorn", serif;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    font-weight: 400;
  }

 
  .card {
    background-color: whitesmoke;
    width: 100%;
}
  .card > img
  {
    width: 100%;
  }
  .gi-2 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .grid-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
    row-gap: 24px;
    column-gap: 10px;
 
  }
  .button {
    width: 155.417px;
    height: 54px;
     
    border-radius: 0px;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 11px;
}
  .content-g2 > h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 36.2px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -2px;
    line-height: 37px;
  }

  .content-g2 > h2:hover {
    transform: translateY(-50px);
    transition: 1s ease-in-out;
  }
  .content-g2 > h5 {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-family: "vollkorn", sans-serif;
    letter-spacing: -1px;
    opacity: 87%;
  }
  .content-g2 > p {
    text-align: center;
    color: #5c5c5c;
  }
  .figures {
  
    display: flex;
    justify-content: center;
    align-items: center;
}.data {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  height: 170px;
  /* justify-content: space-between; */
  gap: 0px;
}
  .figure {
    width: 260px;
    margin-left: 103px;
    height: 102px;
    font-family: "Montserrat", sans-serif;
  }
  .figure > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 39px;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .service2:hover {
    background-color: #e0cece;
  }
  .service3:hover {
    background-color: #d1d7e0;
  }
  .service1:hover {
    background-color: #e3e1d3;
  }

 
  .bradings > img {
    width: 26%;
}
.quotes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px;
}
.saying, .quote1, .quote2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
   
.pf-card {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pf-card > img {
  width: 98%;
  height: 96%;
}
  .quotes-heading {
    font-size: 20px;
  }

  .quotes-h {
    font-size: 44px;
    font-weight: 100;
    letter-spacing: -2px;
    line-height: 94px;
    text-align: center;
    line-height: 34px;
    font-weight: bold;
}
  .br-h {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
.br-p {
  max-width: 355px;
} 
  .topnav {
    position: absolute;
    top: 5px;
    display: flex;
    align-items: center;
  }

 
  p {
    margin-bottom: 5px;
    font-family: "Source Sans Pro", sans-serif;
    color: #5c5c5c;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.5px;
    max-width: 581px;
    margin: 0 auto;
  }
  .content-g2 > h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 42px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -2px;
    line-height: 37px;
  }
  
  
  #form-n-text {
    /* height: 0px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .figure h5 {
    margin-top: 0px;
    /* margin-bottom: 30px; */
    font-family: "Vollkorn", serif;
    font-size: 17px;
    line-height: 0px;
    font-style: italic;
    font-weight: 400;
  }
  .myslides img
  {
      display: block;
      width: 20%;
      margin-right: 10px;
    
  }
 
  
  

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
  .mySlides {
    display: block;
    width: 100%;
    min-height: 400px;
    /* min-height: 400px; */
    max-height: 701px;
    margin-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
 
  
  .gi-1 img {
    /* margin-left: 2px; */
    /* width: 770px; */
    /* height: 565px; */
    /* background-color: whitesmoke; */
    width: 100%;
}
.services {
  display: flex;
  
  gap: 21px;
}
  .gi-4 {
    
    background-color: whitesmoke;
  
}
 
 
  
  .but
  {
    opacity: 72%;
      font-family: "Vollkorn", serif;
      font-size: 16px;
      line-height: 17px;
      font-style: italic;
    }
    

  .author {
    line-height: 0px;
    font-size: 19.1px;
    letter-spacing: -0.9px;
}
  .we-make
  {
    opacity: 81%;
  }
  .latest-creations {
   
    font-size: 13px;
    max-width: 319px;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.we-app {
  font-family: 'Vollkorn', serif;
  
}
.lb {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin: 10px 0px;
    opacity: 96%;
}
.text-field, .text-area {
  width: 797px;
 
}
 
  a
  {
    text-decoration: none;
  }
 
input,textarea{
  padding: 10px;
}

.h-contact {
  font-weight: bold;
  font-size: 42.2px;
  letter-spacing: -1.6px;
}
 
 
.flex {
  display: flex;
  margin-top: 12px;
  gap: 15px;
}
.content-g2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.bradings {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 57px 0px;
}
.pf-quote {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 31px;
}
 
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 
.button-submit
{
    margin-top: 19px;

}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


  /*footer*/


  .footer-text {
    position: relative;
    top: 31px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #fff;
  }
   
  #footer-img {
    width: 80px;
    height: 80px;
    padding-top: 28px;
    position: relative;
    top: 16px;
    right: 116px;
}
 
 footer
 {
    display: flex;
    justify-content: space-evenly;

 }
 .footer-div {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  height: 16rem;
  margin-top: 48px;
}
   



.dp-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text h3 {
    font-family: Vollkorn, serif;
    font-style: italic;
    font-size: 8px;
    color: #fff;
    position: relative;
    text-align: right;
    font-size: 18px;
}


.text h1 {
    color: #fff;
    font-weight: bold;
    max-width: 506px;
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 53px;
    font-family: Montserrat, sans-serif;
    text-align: right;
    margin-left: 673px;
    margin-top: 180px;
}

.fa-solid, .fas {
    /* font-family: "Font Awesome 6 Free"; */
    /* font-weight: 900; */
    color: white;
    font-size: 35.1px;
    padding: 15px;
    position: relative;
    top: 40px;
}
 
#slider {
    width: 100%;
    height: 719px;
    background-image: url("./images/slide1.jpg");
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: space-evenly;
     border: 49px 25px; 
    margin-bottom: 20px;
    margin-top: 12px;
    background-size: cover;
}
 
  }




/*bigger screen to smaller screens*/


      








/*425-767*/
@media screen  and (max-width:430px)  {
#slider {
    width: 355%;
    height: 2410px;
    position: relative;
    top: -255px;
    margin: 6px 0px 0px 43px;
    background-image: url("	https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299d1b0108cf394df61d5a_sheep.jpeg");
    background-size: cover;
}
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360%;
    margin: -179px 15px 15px 32px;
    gap: 55px;
}.gi-1
{
  display: none;
}.content-g2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 115%;
    height: 98%; 
}


.card, .gi-3
{
   width: 1330px;
    height: 1060px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}  
.card img {
    width: 1534px;
    height: 1061px;
}
.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    /* align-items: center; */
}
.figures
{
     display: flex;
    justify-content: center;
     width: 1510px;
    height: 350px;

}
.services {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    margin: 0px 0px 0px 135px;
    align-items: center;
    margin: 115px 0px 5px 785px;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #191918;
    width: 370%;
}
.quotes
{
     display: flex;
    flex-direction: column;
    background: blue;
    width: 370%;

}
.portfolio {
    display: grid;
     width: 359%;
    grid-template-columns: 1fr 1fr;
    margin: 30px 5px 18px 20px;
    row-gap: 35px;
    column-gap: 45px;
}
 
 
.pf-card img {
    width: 684px;
    height: 531px;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: aquamarine;
    width: 353%;
    margin: 0px 0px 5px 15px;
    height: 405px;
}
.contact-form
{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#email-form
{
     display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;

}
.footer-div {
    background: #333;
    width: 330%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px 5px 58px;
    height: 1657px;
}
footer
{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer-img
{
     width: 202px;
    height: 200px;

}
.footer-text
{
  color: white;
}
#menu,#address,#contact-footer
{
      font-family: Montserrat, sans-serif;
          color: #7d7d7d;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
        }
        p >a
        {
          text-decoration: none;
        }

#address
{
     margin-left: 25px;

}
#contact-footer
{
     margin-left: 35px;

}      }
